# This gitignore was automatically written by inweb make-gitignore
# and is not intended for human editing

.DS_Store
inweb.mk
platform-settings.mk
Manual.html
debug-log.txt
tags
Woven/
Tangled/inweb
Tangled/inweb_*
Tangled/*.o
Tangled/*.exe
Tests/intest-history.txt
Tests/Transient/
Tests/hashes.intest
Tests/_Results_Actual/
foundation-test/foundation-test.mk
foundation-test/Tests/Test Cases/_Results_Actual/
foundation-test/Tests/Markdown Cases/_Results_Actual/
foundation-module/Woven/
licence-build/licence-build.mk
Examples/*.o
Examples/*.pdf
Examples/*.html
Examples/goldbach/Tangled
Examples/goldbach/Woven
Tests/Test Cases/_Scan_Actual/
Tests/Test Cases/_Results_Actual/
Tests/Test Errors/_Results_Actual/
Tests/Test Cases/_Tangled_Console/
Tests/Test Painter/_Results_Actual/
Tests/Test Weave Tree/_Results_Actual/
Tests/Test Weave Tree/_Results_Console/

