/* The following correspond to the Inweb colours !definition, ..., !comment: */

span.definition-syntax  { color: #444444; }
span.function-syntax    { color: #80FF80; }
span.identifier-syntax  { color: #8080FF; }
span.element-syntax     { color: #ADFF2F; }
span.reserved-syntax    { color: #600000; }
span.string-syntax      { color: #408040; }
span.character-syntax   { color: #204020; }
span.constant-syntax    { color: #204020; }
span.plain-syntax       { color: #ffffff; }
span.extract-syntax     { color: #444444; }
span.comment-syntax     { color: #404040; font-style:italic; }

/* This is used for the "define" or "enum" keyword on Inweb-defined constants: */

span.definition-keyword { color:#801010; font-weight:bold; }

/* These are for the angle-bracketed paragraph names: */

span.named-paragraph, span.named-paragraph-defn { color: #000000; font-weight: bold; }
span.named-paragraph-number { color: #000000; font-size: 80%; }

/* This is the box into which multi-line stretches of code are put: */

pre.displayed-code {
	background: #222222;
	border-width: 1px;
	border-style: solid solid solid solid;
	border-color: #008000;
}
